@import 'responsive';
@import 'variables';
//// ** Contenedores generales **
body{
  margin: 0;
  * {
    margin: 0;
  }
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
  background-color: rgb(255, 255, 255);
}

.kz-main-container{
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.kz-wrapper{
  width: auto;
  height: auto;
}

.kz-container-full{
  padding: 32px;
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
  overflow-x: hidden;
}