<div class="kz-nav">
    <div class="kz-nav__item">
        <div class="kz-d-flex kz-flex-vertical-center">
            <img class="kz-navbar-logo " src="../../assets/img/logo.svg" type="image/x-icon">
            <label class="kz-txt--primary kz-txt--xl kz-logo-text kz-white-space">reizer Personas</label>
        </div>
    </div>
    <div class="kz-nav__item kz-ml--auto">
        <img 
        src="../../assets/img/linkend.png" class="kz-img kz-img--circle kz-img--sm kz-border-blue"/>
        <span class="kz-user-name"> Wesly Lazo </span>
    </div>
</div>
